<p>
  <b>Body:</b>
  <%=h @curriculo.body %>
</p>

<p>
  <b>Ativo:</b>
  <%=h @curriculo.ativo %>
</p>


<%= link_to 'Edit', edit_curriculo_path(@curriculo) %> |
<%= link_to 'Back', curriculos_path %>